@tailwind base;
@tailwind components;
@tailwind utilities;



::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-image: linear-gradient(to top, #00c3ff, #13657c);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(to top, #00e1ff, #158eb1);
}